{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-4">Adicionar Pokémon</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo:</label>
            <input type="text" class="form-control" id="tipo" name="tipo" required>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>
    </form>
{% endblock %}